{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.value) }}
    <p class="text-center"><button type="submit" class="btn btn-lg btn-success">{{ button_label|default('Save') }}</button></p>
    {{ form_end(form)}}
{% endblock %}
