{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}

    <div class="container">

        <div class="row">
            <div class="col-md-8 mx-auto">
                <div id="first">
                    <div class="myform form ">
                        <div class="logo mb-3">
                            <div class="col-md-12 text-center">
                                <h1>Create new Post</h1>
                            </div>
                        </div>
                        {{ include('post/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="{{ path('post_index') }}">back to list</a>
{% endblock %}
